.card {
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}
.filtersContainer {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1000;
    padding: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin: 8px 16px;
}